target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr
.vscode/
*.log
.DS_Store
Thumbs.db

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
